{% extends "root.html" %}

{% block head %}		
	<!-- Syntax highlighting via CodeMirror-->
	<link rel="stylesheet" href="/lib/codemirror.css">
	<script src="/lib/codemirror.js"></script>
	<script src="/mode/javascript/javascript.js"></script>
	
	<!-- Context data for the page; used to populate certain objects -->
	<script type="text/javascript">
		var pavCtx = {
			name: "{{ name }}",
			uid: "{{ uid }}",
			code: "{{ code }}",
			ownedFiles: {{ ownedFiles }},
			sharedFiles: {{ sharedFiles }} 
		};
	</script>
	
	<!-- Library of handy functions -->
	<script src="/lib.js"></script>
	
	<!-- Shared editor functions used in both new/saved file editing -->
	<script src="/editor.js"></script>
	
	{% block headerFiles %}
	{% endblock %}
{% endblock %}

{% block body %}
<!-- Title bar -->
	<div class="page-header" id="title-bar">
		<h1 id="title">
			Pavlok Developer Playground 
			{% block header %}{% endblock %}
			<small id="login-message">Signed in as {{ email }}.</small>
			<small id="logout-button"><a href="/logout">Logout</a></small>
		</h1>
	</div>
	
	{% block topLayout %}
	<div id="block-bar">
		<div id="file-listings">
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="file-menu-button">Open A File
				<span class="caret"></span></button>
				<ul id="file-menu" class="dropdown-menu">
					<li class="dropdown-header">Create</li>
					<li><a href="/">New File</a></li>
					<li class="dropdown-header">Your Files</li>
				</ul>
			</div>
		</div>
		
		<div id="upper-buttons">
			<button type="button" class="btn btn-info" data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Help</button>
			<button type="button" class="btn btn-info" data-toggle="modal" data-target="#snippets-modal" ><span class="glyphicon glyphicon-scissors" aria-hidden="true"></span> Snippets</button>
		</div>
	</div>
	{% endblock %}
	
	<!-- Code area -->
	<textarea id="code" autocomplete="false" spellcheck="false">
		{{ initialCode }}
	</textarea>
	
	<!-- Buttons -->		
	<div class="btn-group btn-group-justified" role="group">		
		{% block buttons %}
		{% endblock %}
	</div>
	
	<!-- Output of the script -->	
	<div id="result">
		The result of any Pavlok stimuli and your script will appear here after running.
	</div>
	
	<!-- Script logs (from log.info(), log.warn(), log.error()) -->
	<div id="logs">
		Logs from log.info(...), log.warn(...), and log.error(...) will show up here.
	</div>
	
	{% block modals %}
	{% endblock %}
	
	<!-- Help modal -->
	<div class="modal fade" id="help-modal" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Help</h4>
			</div>
			<div class="modal-body">
				<p>The Pavlok Developer Playground is a tool for people who know Javascript and want to play with Pavlok's API to write small scripts that run in the browser.</p>
				<br />
				<p>To get started, just insert a code snippet by clicking the Snippets button, and click "Run". You can save your work and come back to it later by clicking the "Open File" button. You can also make your work public, or share it with another Pavlok user by their email.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Got it</button>
			</div>
		</div>
	  </div>
	</div>
	
	<!-- Snippets modal -->
	<div class="modal fade" id="snippets-modal" tabindex="-1" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Code Snippets</h4>
			</div>
			<div class="modal-body">
				<p>Click to insert a snippet.</p>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Pavlok</h3>
					</div>
					<div class="panel-body">
						<div class="list-group">
							<a href="#" id="_snippet_zap" class="list-group-item">
								<h4 class="list-group-item-heading">Zap</h4>
								<p class="list-group-item-text">Zap with the Pavlok.</p>
							</a>
							<a href="#" id="_snippet_vibrate" class="list-group-item">
								<h4 class="list-group-item-heading">Vibrate</h4>
								<p class="list-group-item-text">Vibrate with the Pavlok.</p>
							</a>
							<a href="#" id="_snippet_beep" class="list-group-item">
								<h4 class="list-group-item-heading">Beep</h4>
								<p class="list-group-item-text">Beep with the Pavlok.</p>
							</a>
						</div>
					</div>
				</div>
				
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Logging</h3>
					</div>
					<div class="panel-body">
						<div class="list-group">
							<a href="#" id="_snippet_loginfo" class="list-group-item">
								<h4 class="list-group-item-heading">Info</h4>
								<p class="list-group-item-text">Log an informative message.</p>
							</a>
							<a href="#" id="_snippet_logwarn" class="list-group-item">
								<h4 class="list-group-item-heading">Warn</h4>
								<p class="list-group-item-text">Log a warning message.</p>
							</a>
							<a href="#" id="_snippet_logerror" class="list-group-item">
								<h4 class="list-group-item-heading">Error</h4>
								<p class="list-group-item-text">Log an error message.</p>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	  </div>
	</div>
{% endblock %}
