#container {
	margin: 4em;
}

#title-bar {
	width: 100%;
	margin: 1em 1em 1em 1em;
}

#logout-button {
	margin-left: 0.5em;
	font-size: 0.6em;
}

#run {
	display: block;
	margin-top: 1em;
	width: 100%;
}

#result {
	display: block;
	margin-top: 1em;
	padding: 1em;
	font-size: 1.25em;
	background-color: #cccccc;
	width: 100%;
	height: 120px;
	overflow-y: scroll;
	overflow-x: auto;
}

#logs {
	display: block;
	margin-top: 1em;
	padding: 1em;
	font-size: 1.25em;
	background-color: #dddddd;
	width: 100%;
	height: 120px;
	overflow-y: scroll;
	overflow-x: auto;
}

.log-info {
	color: #101010;
}

.log-error {
	color: #C90000;
	font-weight: bold;
}

.log-warn {
	color: #F27979;

}
